a {
  text-decoration: none;
}

p {
  margin: 0.5%;
}

#newTweets {
  display: none;
}

#tweets div {
  margin-bottom: 3%;
}

.dateTime {
  font-size: small;	
}

.content {
  font-size: x-large;
}

.noNewTweets {
  display: none;
}

.user {
  font-size: medium;
  font-weight: bold;
}

#nav ul {
  list-style-type: none;
}